.name-me {
	background-color: #F1F1F1;
	border-bottom: 1px solid #CECECE;
}

.navbar-default .navbar-nav > li > a {
color: #fff;
}

.about {
	padding-top: 20px;
	padding-bottom: 20px;
}

.skills {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F1F1F1;
	border-top: 1px solid #CECECE;
}

.skills h2 {
	margin-top: 10px;
}

.skills hr, .about hr {
	border-color: LightGray;
	background-color: LightGray;
	color: LightGray;
}

.navbar-default {
	background-color: #183552;
	margin-bottom: 0;
}

.nav.navbar-nav li a {
    color: #fff;
}

.nav.navbar-nav li a:hover {
    color: #F6624A;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #F6624A;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #183552;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
	color: #fff;
}

.col-sm-12 hr {
	margin-bottom: 5px;
	margin-top: 5px;
}

.footer {

	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #183552;
	text-align: center;
}

.footer p {
	margin-bottom: 0;
}

.footer .container *{
	color: #fff;
	padding-left: 0;
	list-style-type: none;
}

.email {
	margin-top: 10px;
}

.bottom {
	margin-top: 10px;
}

h1 {
	font-size: 4em;
	color: #183552;
}

h3, .bottom  li {
	display: inline;
}

.bottom li {
	padding-right: 10px;
}

.list-padding {
	padding-left: 20px;
}