
/* Navbar */

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default {
	background-color: #183552;
	margin-bottom: 0;
	border: 0;
}

.nav.navbar-nav li a {
    color: #fff;
}

.nav.navbar-nav li a:hover {
    color: #616B9F;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #616B9F;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #183552;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
	color: #fff;
}


/* Intro/Me */

.name-me {
	background-image: url("../img/subtle_grunge.png");
	border-bottom: 1px solid #CECECE;
    margin-top: 30px;
	padding: 20px;
}

#intro {
	margin-bottom: 50px;
	margin-top: 50px;
}

#intro img {
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about h4 {
	font-size: 2em;
	margin-top: 10%;
}

.socialLinks {
	text-align: center;
	margin: 10px 0 10px 0;
	text-align: center;
	border: 1px solid #616B9F;
	border-radius: 3px;
	padding: 10px 0 10px 0;
	color: #616B9F;
	font-size: 2em;
	font-weight: 500;
}

.socialLinks:hover {
	background-color: #616B9F;
	color: white !important;
}


/* Skills */

#skillsRow1 {
	opacity: 0;
	transition: opacity 2s;
}


#skillsRow2 {
	opacity: 0;
	transition: opacity 2s;
}

.skill {
	text-align: center;
	margin-top: 20px;
}

.skill img {
	display: block;
	margin: 0 auto;
	max-width: 10em;
}

.skillName {
	display: block;
	font-size: 1.3em;
	margin-top: 5px;
}


/* Projects */

.projects {
	padding: 10px 0 50px 0;
}

.project {
	background-image: url("../img/ProjectBack.svg");
	background-position: right;
	background-repeat: no-repeat;
	padding: 25px 0 25px 0;
	display: table;
	margin: 50px 0 50px 0;
}

.projDesc {
	height: 315px;
}

.project h3, .project h4 {
	text-align: center;
}

.project h3, .project p {
	color: white;
	font-weight: normal;
}

.project h3 {
	font-size: 2.4em;
}

.project p {
	margin-top: 4%;
	font-size: 1.4em;
}

.project h4 {
	min-height: 0 !important;
	height: 0 !important;
	position: absolute;
	bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.iconRow {
	min-height: 0 !important;
	height: 0 !important;
	position: absolute;
	bottom: 70px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.icon-div {
    padding: 10px 0 10px 0;
    border-radius: 5px;
}

.icon-div:hover {
	background-color: black;
}

.icon-div:hover img {
	-webkit-filter: invert(1);
   filter: invert(1);
}

@media (max-width: 992px) {
	.project div {
		background-color: #616B9F;
		padding-top: 10px;
	}

	.project h4 {
		bottom: 130px;
	}

	.iconRow {
		bottom: 110px;
	}
}


/* Experience */

.experience {
	padding-bottom: 20px;
	background-image: url("../img/subtle_grunge.png");
	font-size: 1.2em;
}

.experience span {
	font-size: 1.6em;
}


/* Footer */

.footer {
	bottom: 0;
	width: 100%;
	background-color: #616B9F;
}

.footer .container *{
	color: #fff;
	padding-left: 0;
	list-style-type: none;
}

#footerCont {
	height: 200px;
}

.vertical-align {
	top: 50%;
    transform: translateY(-50%);
}

.container, .row{
	min-height: 100%;
	height: 100%;
}

.col-xs-8 {
	text-align: center;
}

.col-xs-4 {
	text-align: left;
}

#footerSocials {
	float: left;
}

#footerSocials li {
	margin: 10px 0 10px 0;
}

#footerSocials img {
	width: 30px;
	height: 30px;
}

.footerText {
	font-size: 1.5em;
}


/* Global Elements */

hr {
	border-color: gray;
}

h2, h3 {
	color: #616B9F;
}

h1 {
	font-size: 4em;
	color: #616B9F;
}

a:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
}

div {
	transition: background-color 500ms, color 500ms;
}

div img {
	transition: -webkit-filter 500ms, filter 500ms;
}
